* {
    margin: 0;
    padding: 0;
}

/* FONTS */

@font-face {
    font-family: DINNextRoundedLTPro_Light;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Light.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Medium;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Medium.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Regular;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Regular.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Bold;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Bold_2.otf);
}

p {
    font-family: DINNextRoundedLTPro_Light;
}

h2 {
    font-family: DINNextRoundedLTPro_Bold;
    font-size: 3.1em;
}

/* HEADER */

#amde-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88vw;
    height: 10vh;
    padding: 0 5vw;
    background: #FFF;
    z-index: 1;
}

#amde-header .header-logo img {
    width: 100px;
}

#amde-header .nav-elements {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

#amde-header .nav-elements .nav-element {
    font-family: DINNextRoundedLTPro_Medium;
    font-size: 1.15em;
    color: rgb(72, 173, 217);
    cursor: pointer;
}

#amde-header .nav-elements .nav-element:hover {
    color: rgb(57, 100, 153);
}

/* COVER */

#amde-cover {
    background-image: url(./Assets/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#amde-cover .cover-text-bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
}

#amde-cover .cover-text-bg .cover-text {
    opacity: 1;
    color: #FFF;
    padding: 30px;
    font-size: 1.6em;
    font-family: DINNextRoundedLTPro_Regular;
}

#amde-cover .cover-text-bg .cover-text .text-bolder {
    font-family: DINNextRoundedLTPro_Bold;
}

/* SERVICES */

#amde-services {
    padding: 0 10vw; 
    height: 60vh;
}

#amde-services, #amde-services .service {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#amde-services .service {
    flex-flow: column;
}

#amde-services .service:hover {
    cursor: pointer;
}

#amde-services .service .service-ico {
    background-image: url(./Assets/images/ICONO-B-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

#amde-services .service:hover > .service-ico {
    background-image: url(./Assets/images/ICONO-B-1.png);
}

#amde-services .service .service-title {
    font-family: DINNextRoundedLTPro_Medium;
    color: rgb(72, 173, 217);
    font-size: 1.15em;
    padding-top: 20px;
}

#amde-services .service:hover > .service-title {
    color: rgb(57, 100, 153);
}

#amde-services .service p {
    padding: 5px 40px;
}

/* INFO */

#amde-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    padding: 0 5vw; 
    height: 40vh;
}

#amde-info h2 {
    color: rgb(72, 173, 217);
}

#amde-info p {
    font-size: 1.4em;
    padding: 2vh 5vw;
}

/* MEMBERS */

#amde-members {
    padding: 0 10vw;
}

#amde-members .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 10vh 0;
}

#amde-members .logo img {
    width: 800px;
}

#amde-members .members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#amde-members .member {
    justify-self: center;
    text-align: center;
}

#amde-members .member .member-picture {
    position: relative;
    background-image: url(./Assets/images/member.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#amde-members .member .member-picture .member-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

#amde-members .member .member-picture:hover .member-info {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

#amde-members .member p {
    font-size: 1.5em;
    padding-top: 15px;
}

#amde-members .amde-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#amde-members .amde-stats .amde-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 6vw;
}

#amde-members .amde-stats .amde-stat .quantity {
    font-size: 4.7em;
    color: rgb(57, 100, 153);
    font-family: DINNextRoundedLTPro_Bold;
}

#amde-members .amde-stats .amde-stat p {
    font-size: 1.5em;
}

/* VOLUNTEER */

#amde-volunteer {
    background-image: url(./Assets/images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
}

#amde-volunteer .volunteer-bg-color {
    background-color: rgba(44, 44, 44, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

#amde-volunteer .logo img {
    width: 250px;
}

#amde-volunteer .volunteer-info {
    width: 650px;
    padding-left: 50px;
}

#amde-volunteer .volunteer-info h2{
    color: #FFF;
    font-size: 2.4em;
}

#amde-volunteer .volunteer-info p {
    color: #FFF;
    font-size: 1.5em;
    padding-top: 20px;
}

/* CONTACT */

#amde-contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

#amde-contact .contact {
    width: 60vw;
}

#amde-contact h2 {
    color: rgb(57, 100, 153);
    text-align: left;
}

#amde-contact .contact .contact-name p, #amde-contact .contact
.contact-email p, #amde-contact .contact .contact-message p {
    font-size: 1em;
    font-family: DINNextRoundedLTPro_Medium;
    color: rgb(57, 100, 153);
}

#amde-contact .contact input, #amde-contact .contact textarea {
    width: 45vw;
    height: 25px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(231, 232, 234);
    color: rgb(57, 100, 153);
    font-size: 1em;
    font-family: DINNextRoundedLTPro_Regular;
}

#amde-contact .contact .contact-name, #amde-contact .contact
.contact-email, #amde-contact .contact .contact-message {
    padding: 15px 0;
}

#amde-contact .contact .contact-message textarea {
    resize: none;
    height: 20vh;
}

#amde-contact .contact .contact-alert {
    height: 10vh;
}

#amde-contact .contact .contact-alert p {
    padding-top: 10px;
}

#amde-contact .contact .contact-alert button {
    padding: 5px 30px;
    border-radius: 5px;
    border: 0;
    font-size: 1em;
    font-family: DINNextRoundedLTPro_Medium;
    background-color: rgb(57, 100, 153);
    color: #FFF;
}

#amde-contact .contact .contact-alert button:hover {
    cursor: pointer;
}

#amde-contact .contact-name, #amde-contact .contact-email, 
#amde-contact .contact-message {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

/* FOOTER */

#amde-footer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: rgb(57, 100, 153);
}

#amde-footer .footer {
    width: 60vw;
}

#amde-footer .footer h2 {
    font-size: 2.4em;
}

#amde-footer .footer span {
    background-size: contain;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.ico-youtube {
    background-image: url(./Assets/images/WEB_AMDE_redes-01.png);
}

.ico-facebook {
    background-image: url(./Assets/images/WEB_AMDE_redes-02.png)
}

.ico-twitter {
    background-image: url(./Assets/images/WEB_AMDE_redes-03.png);
}

.ico-instagram {
    background-image: url(./Assets/images/WEB_AMDE_redes-04.png);
}

.bottom-footer {
    background-color: #000;
    width: 100%;
    height: 5vh;
    color: #FFF;
}

/* BASIC RESPONSIVE */