* {
    margin: 0;
    padding: 0;
}

/* FONTS */

@font-face {
    font-family: DINNextRoundedLTPro_Light;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Light.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Medium;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Medium.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Regular;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Regular.otf);
}

@font-face {
    font-family: DINNextRoundedLTPro_Bold;
    src: url(./Assets/fonts/DINNextRoundedLTPro_Bold_2.otf);
}

p {
    font-family: DINNextRoundedLTPro_Light;
}

.bigger-text {
    color: #FFF;
    font-size: 1.5em;
}

h1 {
    font-family: DINNextRoundedLTPro_Bold;
    font-size: 2.6em;
}

h2 {
    font-family: DINNextRoundedLTPro_Bold;
    font-size: 3.1em;
}

.title {
    color: rgb(72, 173, 217);
    font-family: DINNextRoundedLTPro_Medium;
    font-size: 1.15em;
}

/* HEADER */

#amde-header {
    width: 100vw;
    background: #FFF;
    z-index: 1;
}

#amde-header .header, #amde-header .nav-elements {
    display: flex;
    justify-content: space-between;
}

#amde-header .header {
    height: 10vh;
    padding: 0 5vw;
    align-items: center;
}

.header-fixed {
    position: fixed;
}

#amde-header .header-logo img {
    width: 220px;
}

#amde-header .nav-elements {
    width: 40vw;
}

#amde-header .nav-element a {
    text-decoration: none;
}

#amde-header .title:hover {
    color: rgb(57, 100, 153);
    cursor: pointer;
}

/* COVER */

#amde-cover {
    background-image: url(./Assets/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    justify-content: flex-end;
}

#amde-cover, #amde-cover .cover-text-bg {
    display: flex;
    align-items: center;
}

#amde-cover .cover-text-bg {
    justify-content: flex-start;
    width: 500px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
}

#amde-cover .cover-text {
    opacity: 1;
    color: #FFF;
    padding: 30px;
    font-size: 1.6em;
    font-family: DINNextRoundedLTPro_Regular;
}

#amde-cover .text-bolder {
    font-family: DINNextRoundedLTPro_Bold;
}

/* SERVICES */

#amde-services {
    padding: 0 10vw;
    height: 60vh;
}

#amde-services,
#amde-services .service {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#amde-services .service {
    flex-flow: column;
}

#amde-services .service:hover {
    cursor: pointer;
}

#amde-services .service-ico {
    background-image: url(./Assets/images/ICONO-B-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

#amde-services .service:hover>.service-ico {
    background-image: url(./Assets/images/ICONO-B-1.png);
}

#amde-services .service-title {
    padding-top: 20px;
}

#amde-services .service:hover>.service-title {
    color: rgb(57, 100, 153);
}

#amde-services .service p {
    padding: 5px 40px;
}

/* INFO */

#amde-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    padding: 0 5vw;
    height: 100vh;
    padding-top: 10vh;
}

#amde-info h2 {
    color: rgb(72, 173, 217);
}

#amde-info p {
    font-size: 1.4em;
    padding: 2vh 5vw;
}

#amde-info .logo img {
    width: 750px;
}

/* MEMBERS */

#amde-members {
    padding: 0 10vw;
}

#amde-members .members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#amde-members .member {
    justify-self: center;
    text-align: center;
}

#amde-members .member-picture {
    position: relative;
    background-image: url(./Assets/images/member.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

#amde-members .member-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

#amde-members .member-picture:hover .member-info {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

#amde-members .member-name, #amde-members .detail,
#amde-members .member-info span {
    font-family: DINNextRoundedLTPro_Light;
    font-size: 1.4em;
}

#amde-members .member-name {
    padding-top: 15px;
}

#amde-members .amde-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#amde-members .amde-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 6vw;
}

#amde-members .quantity {
    font-size: 4.7em;
    color: rgb(57, 100, 153);
    font-family: DINNextRoundedLTPro_Bold;
}

#amde-members .amde-stat p {
    font-size: 1.5em;
}

/* VOLUNTEER */

#amde-volunteer {
    background-image: url(./Assets/images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
}

#amde-volunteer .volunteer-bg-color {
    background-color: rgba(44, 44, 44, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

#amde-volunteer .logo img {
    width: 250px;
}

#amde-volunteer .volunteer-info {
    width: 650px;
    padding-left: 50px;
}

#amde-volunteer .volunteer-info h2 {
    color: #FFF;
    font-size: 2.4em;
}

#amde-volunteer .bigger-text {
    padding-top: 20px;
}

/* CONTACT */

#amde-contact {
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#amde-contact .contact {
    padding: 0 20vw;
}

#amde-contact h2 {
    color: rgb(57, 100, 153);
    text-align: left;
}

#amde-contact .contact-name span,
#amde-contact .contact-email span,
#amde-contact .contact-message span {
    font-size: 1.1em;
    font-family: DINNextRoundedLTPro_Medium;
    color: rgb(57, 100, 153);
}

#amde-contact .contact input,
#amde-contact .contact textarea {
    width: 45vw;
    height: 25px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(231, 232, 234);
    color: rgb(57, 100, 153);
    font-size: 1em;
    font-family: DINNextRoundedLTPro_Regular;
}

#amde-contact .contact-name,
#amde-contact .contact-email,
#amde-contact .contact-message {
    padding: 15px 0;
}

#amde-contact .contact-message textarea {
    resize: none;
    height: 20vh;
}

#amde-contact .contact-alert {
    height: 10vh;
}

#amde-contact .contact-alert p {
    padding-top: 10px;
    font-size: 1.2em;
    color: rgb(57, 100, 153);
}

#amde-contact .contact-alert button {
    padding: 5px 40px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-family: DINNextRoundedLTPro_Medium;
    background-color: rgb(57, 100, 153);
    color: #FFF;
    box-shadow: 0 5px #999;
}

#amde-contact .contact-alert button:hover {
    cursor: pointer;
    background-color: rgb(57, 100, 154);
}

#amde-contact .contact-alert button:active {
    background-color: rgb(57, 100, 154);
    box-shadow: 0 2.5px #666;
    transform: translateY(4px);
}

#amde-contact .contact-name,
#amde-contact .contact-email,
#amde-contact .contact-message {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

/* FOOTER */

#amde-footer .footer,
#amde-footer .footer-bottom {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#amde-footer .footer {
    background-color: rgb(57, 100, 153);
    height: 40vh;
    color: #FFF;
    padding-left: 20vw;
}

#amde-footer .footer p {
    padding: 20px 0;
}

#amde-footer .footer h2 {
    font-size: 2.4em;
}

#amde-footer .footer-icons span {
    background-size: contain;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#amde-footer .ico-youtube {
    background-image: url(./Assets/images/WEB_AMDE_redes-01.png);
}

#amde-footer .ico-facebook {
    background-image: url(./Assets/images/WEB_AMDE_redes-02.png)
}

#amde-footer .ico-twitter {
    background-image: url(./Assets/images/WEB_AMDE_redes-03.png);
}

#amde-footer .ico-instagram {
    background-image: url(./Assets/images/WEB_AMDE_redes-04.png);
}

#amde-footer .footer-icons span:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#amde-footer .footer-bottom {
    background-color: rgb(36, 41, 37);
    width: 100%;
    height: 8vh;
    font-size: 0.9em;
    color: #FFF;
    align-items: center;
}

/* BASIC RESPONSIVE */